2 faza/Microsoft.Flow/definition.json
{"name":"7837c09a-2f03-4116-aeb5-cf862003e700","id":"/providers/Microsoft.Flow/flows/7837c09a-2f03-4116-aeb5-cf862003e700","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Izlistaj timove","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f3ae542e-74bd-4f09-9e50-d0b6346411ed","type":"User","tenantId":"f5501f2a-b2b9-4122-8f2d-aa0f0366d907"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-02-04T19:23:10.8172232Z","connectionKeySavedTimeKey":"2024-02-04T19:23:10.8172232Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"be0daf2d-a116-4437-81f9-efee52e3219a"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_my_owned_groups_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"45e0ca53-9fb9-4f60-b2a9-9fe7137b2d44"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"ListOwnedGroups_V2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_tables":{"runAfter":{"List_my_owned_groups_(V2)":["Succeeded"]},"metadata":{"01AMB2MSZMV32UXN3WHRF2VKJ334W72MMQ":"/General/LAD_3 (POTREBNI FAJLOVI)/ControllTableLad3.xlsx","tableId":null,"operationMetadataId":"73bbadb4-8823-4776-bb93-2e138c21be74"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/8ff5ce2a-7d4d-4d9c-af9a-1d79462a7107","drive":"b!2P86h7UjskiyNDy2EHACWtsPibC68ARMjZEQEUh-cZv6Fbi_aRolQo04dm9W8ACh","file":"01AMB2MSZMV32UXN3WHRF2VKJ334W72MMQ"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetTables"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"For_each":{"foreach":"@outputs('List_my_owned_groups_(V2)')?['body/value']","actions":{"Add_a_row_into_a_table":{"metadata":{"01AMB2MSZMV32UXN3WHRF2VKJ334W72MMQ":"/General/LAD_3 (POTREBNI FAJLOVI)/ControllTableLad3.xlsx","tableId":"{D8E0F478-F4D1-4AB3-817C-055EEF551301}","operationMetadataId":"7a0e7cfe-48dd-4879-9250-7da1bfb2f5d6"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/8ff5ce2a-7d4d-4d9c-af9a-1d79462a7107","drive":"b!2P86h7UjskiyNDy2EHACWtsPibC68ARMjZEQEUh-cZv6Fbi_aRolQo04dm9W8ACh","file":"01AMB2MSZMV32UXN3WHRF2VKJ334W72MMQ","table":"{D8E0F478-F4D1-4AB3-817C-055EEF551301}","item/OwnedTeams":"@items('For_each')?['displayName']","item/TeamId":"@items('For_each')?['id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_tables":["Succeeded"]},"metadata":{"operationMetadataId":"cb4b58b7-6796-460e-bf3a-7457472387ed"},"type":"Foreach"}}},"connectionReferences":{"shared_office365groups":{"connectionName":"shared-office365grou-2aed44af-2e18-40ad-931b-966b8219e9b3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365groups","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-1328e39c-3aae-4f76-b47c-be93ba2427b7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}